.m-slider{
}
.diagnosis_helper{
    display: flex;
    width: 100%;
}
.helper_four{
    width: 100%;
}
.helper_four>ul{
    /* width: 74.16%; */
    min-width: 14.83rem;
    /* width:17.38rem; */
    height:16.5rem;
    background:rgba(255,255,255,1);
    display: flex;
    flex-wrap: wrap;
}
.helper_four ul li{
    display: flex !important;
    justify-content: center;
}
.helper_four ul li,.helper_four ul li a{
    display: block;
    min-width: 7.4rem;
    width: 50%;
    height: 8.25rem;
    box-sizing: border-box;
}
.helper_four ul li:nth-child(1){
  
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}
.helper_four ul li:nth-child(2){
    border-bottom: 1px solid #eaeaea;
}
.helper_four ul li:nth-child(3){
    border-right: 1px solid #eaeaea;
}
.helper_four ul li div.four_img,.helper_four ul li div.four_img img{
    width: 3.44rem;
    height: 3.38rem;
    margin: 1.13rem auto 1.25rem;
}
.helper_four ul li div.four_word{
    width: 100%;
    text-align: center;
    font-size:0.94rem;
    font-family:PingFangSC-Regular;
    color:rgba(51,51,51,1);
    line-height:0.94rem;
}
.helper_items{
    min-width: 6.06rem;
    height:16.5rem;
    background:rgba(234,234,234,1);
}
.helper_items ul{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.helper_items ul li{
    height: 12.5%;
}
.helper_items ul li a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size:0.69rem;
    font-family:PingFangSC-Regular;
    color:rgba(102,102,102,1);
    line-height:2.0625rem;
}
.helper_items ul li a.active{
    background:rgba(255,255,255,1);
    color: #5B86E5;
}