.first_item {
  background: #fff;
  margin-bottom: 10px;
}
.first_item ul {
  padding: 0 1rem 1rem;
}
.first_item ul li:nth-of-type(1) {
  height: 2.9rem;
  line-height: 2.9rem;
  border-bottom: 1px solid #eaeaea;
  font-family: MicrosoftYaHei-Bold;
  font-size: 0.93rem;
  letter-spacing: 0.04rem;
  color: #5f98ff;
  font-weight: 600;
}
.first_item ul .item_list {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.first_item ul .item_list span:nth-of-type(1) {
  font-family: MicrosoftYaHei;
  font-size: 0.93rem;
  letter-spacing: 0.04rem;
  color: #666666;
}
.first_item ul .item_list span:nth-of-type(2) {
  font-family: MicrosoftYaHei-Bold;
  font-weight: 600;
  font-size: 0.93rem;
  letter-spacing: 0.04rem;
  color: #ffbf44;
}
.form_item {
  background: #fff;
  padding: 0 1rem;
}
.form_item .form_title {
  font-family: MicrosoftYaHei-Bold;
  font-weight: 600;
  font-size: 1.07rem;
  letter-spacing: 0.04rem;
  color: #333333;
}
.form_item .tips_title {
  display: flex;
  justify-content: space-between;
  font-family: MicrosoftYaHei;
  font-size: 0.93rem;
  letter-spacing: 0.04rem;
  color: #666666;
  border-bottom: 1px solid #eaeaea;
  padding: 0.13rem 0 1rem;
}
.form_item .option_item {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}
.form_item .option_item label {
  font-family: MicrosoftYaHei;
  font-size: 1.07rem;
  letter-spacing: 0.04rem;
  color: #333333;
}
.form_item .option_item select {
  font-family: MicrosoftYaHei;
  background-color: transparent;
  width: 100%;
  width: 10rem;
  direction: rtl;
  font-size: 0.93rem;
  border: none;
  outline: none;
  line-height: 1.5rem;
  color: #cccccc;
  padding-right: 0.5rem;
}
.form_item .option_item .se_after {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.form_item .option_item .weui-cell__bd {
  overflow: hidden;
  position: relative;
}
.form_item .option_item .weui-cell__bd label {
  letter-spacing: 0.04rem;
  color: #cccccc;
  font-family: MicrosoftYaHei;
  font-size: 0.93rem;
}
.form_item .option_item .weui-cell__bd form input {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.form_item .blod_item {
  display: flex;
  justify-content: space-between;
  font-family: MicrosoftYaHei;
  font-size: 1.07rem;
  letter-spacing: 0.04rem;
  height: 4rem;
  line-height: 4rem;
  color: #333333;
  border-bottom: 1px solid #eaeaea;
}
.form_item .text_item .content_title {
  font-family: MicrosoftYaHei;
  font-size: 1.07rem;
  letter-spacing: 0.04rem;
  color: #333333;
  margin: 1.2rem 0 0.6rem;
}
.form_item .text_item textarea {
  margin-bottom: 1rem;
  width: 100%;
  height: 4.67rem;
  background-color: #f7f7f7;
  border-radius: 0.13rem;
  border: none;
  outline: none;
  padding: 0.33rem;
  font-family: MicrosoftYaHei;
  font-size: 0.93rem;
  letter-spacing: 0.04rem;
  color: #6c6c6c;
}
textarea::-webkit-input-placeholder {
  font-family: MicrosoftYaHei;
  font-size: 0.93rem;
  line-height: 1.33rem;
  letter-spacing: 0.04rem;
  color: #cccccc;
}
.item_btn {
  display: flex;
}
.item_btn a {
  width: 48%;
}
.item_btn a:nth-of-type(1) {
  background-color: #ffffff;
  border-radius: 0.33rem;
  border: solid 0.07rem #5f98ff;
  font-family: MicrosoftYaHei-Bold;
  font-size: 1.07rem;
  letter-spacing: 0.21rem;
  color: #5f98ff;
  margin-right: 1rem;
}
.item_btn a::nth-of-type(2) {
  height: 2.87rem;
  background-color: #5f98ff;
  border-radius: 0.33rem;
  font-family: MicrosoftYaHei-Bold;
  font-size: 1.07rem;
  letter-spacing: 0.21rem;
  color: #ffffff;
}
.upData2 ul .updata_item {
  background: #FFF;
  margin-bottom: 5px;
}
.upData2 ul .updata_item:nth-last-of-type(1) {
  margin: 0;
}
.upData2 ul .updata_item a {
  display: block;
  padding: 0 1rem 1rem;
}
.upData2 ul .updata_item a .item_title {
  font-family: MicrosoftYaHei-Bold;
  font-weight: 600;
  font-size: 0.93rem;
  letter-spacing: 0.04rem;
  color: #333333;
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
}
.upData2 ul .updata_item a .item_list ul li {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.upData2 ul .updata_item a .item_list ul li .left {
  font-family: MicrosoftYaHei;
  font-size: 0.93rem;
  letter-spacing: 0.04rem;
  color: #666666;
}
.upData2 ul .updata_item a .item_list ul li .rightG {
  font-family: MicrosoftYaHei-Bold;
  font-weight: 600;
  font-size: 0.93rem;
  line-height: 1.33rem;
  letter-spacing: 0.04rem;
  color: #5f98ff;
}
.upData2 ul .updata_item a .item_list ul li .rightY {
  font-family: MicrosoftYaHei-Bold;
  font-size: 0.93rem;
  line-height: 1.33rem;
  letter-spacing: 0.04rem;
  color: #ffbf44;
}
.upData3 .item_title {
  height: 3.33rem;
  line-height: 3.33rem;
  padding: 0 1rem;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 600;
  font-size: 0.93rem;
  letter-spacing: 0.04rem;
  color: #5f98ff;
}
.upData3 .item_content {
  padding: 0 1rem 1rem;
  margin-bottom: 5px;
  background: #fff;
}
.upData3 .item_content:nth-last-of-type(1) {
  margin: 0;
}
.upData3 .item_content ul .frist_line {
  height: 2.93rem;
  line-height: 2.93rem;
  font-family: MicrosoftYaHei-Bold;
  font-size: 0.93rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  color: #333333;
  border-bottom: 1px solid #eaeaea;
  display: flex;
}
.upData3 .item_content ul .frist_line span {
  width: 33%;
}
.upData3 .item_content ul .common_item {
  margin-top: 1rem;
  display: flex;
}
.upData3 .item_content ul .common_item .tips {
  font-family: MicrosoftYaHei;
  font-size: 0.93rem;
  letter-spacing: 0.04rem;
  color: #666666;
  width: 33%;
}
.upData3 .item_content ul .common_item .rightG {
  font-family: MicrosoftYaHei-Bold;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  color: #5f98ff;
  width: 33%;
  font-weight: 600;
}
.upData3 .item_content ul .common_item .rightB {
  font-family: MicrosoftYaHei-Bold;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  color: #333333;
  width: 33%;
  font-weight: 600;
}
